<!-- <div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>


<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Button dropdown <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
    </li>
  </ul>
</div> -->


<!-- npm install -g @nagular/cli

ng new projeto –style=scss

npm install d3 --save

npm install @types/d3 --save-dev

npm install ngx-bootstrap bootstrap@next --save
Criar um arquivo partial vazio _variables.scss no diretório src;
no src, importar bootstrap no arquivo styles.scss:
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

diretivas ngx
no app.module
import { BsDropdownModule } from 'ngx-bootstrap/dropdown';
imports: [
    BsDropdownModule.forRoot()
]

Instalar o jQuery

npm install jquery@3.2.1 --save
npm install @types/jquery --save

alterar o angular.cli.json

"scripts": [
        "../node_modules/jquery/dist/jquery.min.js"
      ],

import * as jQuery from 'jquery';

restart ng serve



• Plugins para o Visual Studio Code: 
• Auto Import
• TSLint
• Angular 5 Snippets - TypeScript, Html, Angular Material, ngRx, RxJS & Flex Layout -->