<main class="container">
  <!-- Título -->
  <div class="row">
    <div class="col-md-12">
      <h1>Cadastrar</h1>
    </div>
  </div>
  <!-- Formulário -->
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" [(ngModel)]="nome" value={{nome}} class="form-control" name="nome" required />
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" [(ngModel)]="email" value={{email}} class="form-control" name="email" required>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click) = "addContact()">
            <span >Cadastrar</span>
        </button>
      </div>
    </div>
  </div>
  <hr>
  <!-- Listagem -->
  <table class="table">
    <thead>
      <tr>
        <th>N</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th class="text-center">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contactService.getContacts()">
        <td>{{ contact.id }}</td>
        <td>{{ contact.nome }}</td>
        <td>{{ contact.email }}</td>
        <td class="text-center">
          <button type="button" class="btn btn-danger" (click)="removeContact(contact.id)">Excluir</button>
          <button type="button" class="btn btn-primary" (click)="editContact(contact)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>