<main class="container">
  <!-- Título -->
  <div class="row">
    <div class="col-md-12">
      <h1>Cadastrar</h1>
    </div>
  </div>
  <!-- Formulário -->
  <div class="row">
    <form>
      <div class="col-md-12">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" name="nome" required>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" name="email" required>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
              <span >Cadastrar</span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <hr>
  <!-- Listagem -->
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th class="text-center">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>-</td>
        <td>-</td>
        <td class="text-center">
          <button type="button" class="btn btn-danger">
                            Excluir
                        </button>
          <button type="button" class="btn btn-primary">
                            Editar
                        </button>
        </td>
      </tr>
    </tbody>
  </table>
</main>